@import '../../sass/default/variable';


.modal-title,
.modal-subtitle{
  color: $base-color4;
}

.modal-body img{
  width: 100%;
  margin-bottom: 20px;
}


.modal-media {
  max-width: 100%;
  height: auto;
  border-radius: 5px; /* Add rounded corners if desired */
  object-fit: cover; /* Ensures the media fits the container properly */
}
